/* ----- Fix TodoMVC's editing input overflow on small screen ----- */

.todo-list li.editing .edit {
    width: calc(100% - 44px);
}

/* ----- Media queries ----- */

@media (max-width: 530px) {
    .footer {
        height: 54px;
    }
    .filters {
        padding: 0 20px;
        bottom: 10px;
    }
}

@media (max-width: 400px) {
    .todoapp {
        min-width: 284px;
        margin: 80px 0 20px 0;
    }
    .todoapp h1 {
        top: -100px;
        font-size: 60px;
    }
    .todo-list li { font-size: 20px; }
    .new-todo, .edit { font-size: 18px; }
    .info { margin: 30px auto 0; }
}

/* ----- Preloader ----- */

.preloader {
    position: absolute;
    top: 30%; left: 50%;
    transform: translate(-50%,-50%);

    padding-top: 80px;
    font-size: 46px;
    color: #bdbdbd;
    text-align: center;
}

span[class^='dot-'] { opacity: 0; }
.dot-one { animation: dot-one 1.5s infinite linear; }
.dot-two { animation: dot-two 1.5s infinite linear; }
.dot-three { animation: dot-three 1.5s infinite linear; }

@keyframes dot-one {
    0% { opacity: 0; }
    15% { opacity: 0; }
    25% { opacity: 1; }
    100% { opacity: 1; }
}
@keyframes dot-two {
    0% { opacity: 0; }
    40% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 1; }
}
@keyframes dot-three {
    0% { opacity: 0; }
    65% { opacity: 0; }
    75% { opacity: 1; }
    100% { opacity: 1; }
}